Microsoft.Flow/flows/1f87b5e3-9b8e-484f-ac7b-e69687cc571b/definition.json
{"name":"b8379577-8805-4dd5-ae0e-403721a3b92a","id":"/providers/Microsoft.Flow/flows/b8379577-8805-4dd5-ae0e-403721a3b92a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getBotsNameList - AutomationAnywhereA360","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c54b43c4-cfcc-49a9-98c4-f4178a9cc91c","type":"User","tenantId":"9e66e6ba-f2bb-4367-9862-0821b7ae9e12"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-09-30T20:08:31.5456005Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5082829e-7cfe-4912-acfd-4e0f97bf2bac"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializetokenvariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializetokenvariable_Value"]}}}},"actions":{"Initialize_token_variable":{"runAfter":{},"metadata":{"operationMetadataId":"aa97336d-3ace-42f6-b16d-3bf43ab4e0f5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"token","type":"string","value":"@{triggerBody()['Initializetokenvariable_Value']}"}]}},"Try":{"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"551b253a-bc20-4cdb-961e-2ebcd7d7538a"},"type":"Http","inputs":{"method":"POST","uri":"https://community.cloud.automationanywhere.digital/v2/repository/workspaces/private/files/list","headers":{"Content-Type":"application/json","X-Authorization":"@variables('token')"},"body":{"filter":{"operator":"eq","field":"folder","value":"true"},"sort":[{"field":"parentId","direction":"asc"}]}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"23a672cf-2be8-4d86-bfc1-681b41d5c7f3"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botslist":"@{substring(variables('botsList'),1)}"},"schema":{"type":"object","properties":{"botslist":{"title":"botsList","x-ms-dynamically-added":true,"type":"string"}}}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"763dc5ee-7200-4b3a-9050-b73e04fe65ea"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"page":{"type":"object","properties":{"offset":{"type":"integer"},"total":{"type":"integer"},"totalFilter":{"type":"integer"}}},"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"parentId":{"type":"string"},"name":{"type":"string"},"path":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"size":{"type":"string"},"folder":{"type":"boolean"},"folderCount":{"type":"string"},"productionVersion":{"type":"string"},"latestVersion":{"type":"string"},"locked":{"type":"boolean"},"lockedBy":{"type":"string"},"createdBy":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModified":{"type":"string"},"permission":{"type":"object","properties":{"delete":{"type":"boolean"},"download":{"type":"boolean"},"upload":{"type":"boolean"},"run":{"type":"boolean"},"publishBotstore":{"type":"boolean"},"viewContent":{"type":"boolean"},"clone":{"type":"boolean"},"editContent":{"type":"boolean"},"createFolder":{"type":"boolean"},"move":{"type":"boolean"},"cancelCheckout":{"type":"boolean"},"revertCheckout":{"type":"boolean"},"viewHistory":{"type":"boolean"},"labelBots":{"type":"boolean"}}},"workspaceId":{"type":"string"},"botStatus":{"type":"string"},"hasErrors":{"type":"boolean"},"workspaceType":{"type":"string"},"metadata":{"type":"boolean"},"uri":{"type":"string"},"version":{"type":"string"},"hasTriggers":{"type":"boolean"},"isEdited":{"type":"boolean"},"versionNumber":{"type":"string"},"botVersionLabel":{"type":"string"},"originalVersion":{"type":"string"},"codeAnalysisResult":{"type":"string"}},"required":["id","parentId","name","path","description","type","size","folder","folderCount","productionVersion","latestVersion","locked","lockedBy","createdBy","lastModifiedBy","lastModified","permission","workspaceId","botStatus","hasErrors","workspaceType","metadata","uri","version","hasTriggers","isEdited","versionNumber","botVersionLabel","originalVersion","codeAnalysisResult"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['list']","actions":{"Condition":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"17d49ed6-f168-48be-b37d-00d00f880785"},"type":"AppendToStringVariable","inputs":{"name":"botsList","value":",@{items('Apply_to_each')?['name']}:@{items('Apply_to_each')?['id']}"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@items('Apply_to_each')?['name']","Bots"]}},{"not":{"equals":["@items('Apply_to_each')?['name']","Bot Store"]}},{"not":{"equals":["@items('Apply_to_each')?['name']","Sample bots"]}},{"not":{"equals":["@items('Apply_to_each')?['name']","Document Workspace Processes"]}}]},"metadata":{"operationMetadataId":"d7c39c60-0f7e-42cb-b066-f89ceb7dd100"},"type":"If"}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"ef289076-8aaa-41ef-9e51-27375932b097"},"type":"Foreach"}},"runAfter":{"Initialize_botsList_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f72cf852-fe8a-4aee-aec0-984275caad91"},"type":"Scope"},"Initialize_botsList_variable":{"runAfter":{"Initialize_token_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b5a0c751-15b4-44d8-af4a-63d79797a7d4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"botsList","type":"string"}]}},"Catch":{"actions":{"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{},"metadata":{"operationMetadataId":"ad49d090-2c85-45d0-b499-d19a05d969bc"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botslist":"Failed!"},"schema":{"type":"object","properties":{"botslist":{"title":"botsList","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Try":["Failed"]},"metadata":{"operationMetadataId":"f72c4fe5-70f4-4a96-a6cd-ee0c02bc3ad7"},"type":"Scope"},"Time_out":{"actions":{"Respond_to_a_PowerApp_or_flow_3":{"runAfter":{},"metadata":{"operationMetadataId":"e40909d1-9cf3-4544-8e2d-157fe521d691"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botslist":"Time out!"},"schema":{"type":"object","properties":{"botslist":{"title":"botsList","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Catch":["TimedOut"]},"metadata":{"operationMetadataId":"44e04b5a-6e52-4464-8116-71adcd212a90"},"type":"Scope"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}