Microsoft.Flow/flows/79ab8714-5152-4690-a403-517f9b234055/definition.json
{"name":"0475d166-ffda-4e30-9d62-a62c2dfe1865","id":"/providers/Microsoft.Flow/flows/0475d166-ffda-4e30-9d62-a62c2dfe1865","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getToken - AutomationAnywhereA360","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c54b43c4-cfcc-49a9-98c4-f4178a9cc91c","type":"User","tenantId":"9e66e6ba-f2bb-4367-9862-0821b7ae9e12"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-09-30T22:01:32.5932273Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ddf3ffab-7894-46b4-a77a-df865294e053"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"InitializeuserNamevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"InitializeuserPasswordvariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializeurlvariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["InitializeuserNamevariable_Value","InitializeuserPasswordvariable_Value","Initializeurlvariable_Value"]}}}},"actions":{"Initialize_userName_variable":{"runAfter":{},"metadata":{"operationMetadataId":"2732acba-4fb4-4845-a92a-ca912b98c63d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"userName","type":"string","value":"@{triggerBody()['InitializeuserNamevariable_Value']}"}]}},"Initialize_userPassword_variable":{"runAfter":{"Initialize_userName_variable":["Succeeded"]},"metadata":{"operationMetadataId":"10f166e7-5a3d-405c-9db8-a841fba3a049"},"type":"InitializeVariable","inputs":{"variables":[{"name":"userPassword","type":"string","value":"@{triggerBody()['InitializeuserPasswordvariable_Value']}"}]}},"Try":{"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"c3672e70-e81b-4650-8832-5c4836b51a7a"},"type":"Http","inputs":{"method":"POST","uri":"@{variables('url')}v1/authentication","headers":{"Content-Type":"application/json"},"body":{"username":"@{variables('userName')}","password":"@{variables('userPassword')}"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"2c35fc86-57c8-4dbc-9c32-328277598ebe"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"token":{"type":"string"},"user":{"type":"object","properties":{"id":{"type":"integer"},"username":{"type":"string"},"domain":{},"firstName":{"type":"string"},"lastName":{"type":"string"},"version":{"type":"integer"},"principalId":{"type":"integer"},"deleted":{"type":"boolean"},"roles":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"integer"},"version":{"type":"integer"}},"required":["name","id","version"]}},"sysAssignedRoles":{"type":"array"},"groupNames":{"type":"array"},"permissions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"action":{"type":"string"},"resourceId":{},"resourceType":{"type":"string"}},"required":["id","action","resourceId","resourceType"]}},"licenseFeatures":{"type":"array","items":{"type":"string"}},"emailVerified":{"type":"boolean"},"passwordSet":{"type":"boolean"},"questionsSet":{"type":"boolean"},"enableAutoLogin":{"type":"boolean"},"disabled":{"type":"boolean"},"clientRegistered":{"type":"boolean"},"description":{},"createdBy":{"type":"integer"},"createdOn":{"type":"string"},"updatedBy":{"type":"integer"},"updatedOn":{"type":"string"},"publicKey":{},"appType":{},"routingName":{},"appUrl":{},"email":{"type":"string"},"lastLoginTime":{"type":"string"},"deviceCredentialAttested":{"type":"boolean"},"multipleLoginAllowed":{"type":"boolean"}}},"tenantUuid":{"type":"string"},"mfaAuthResponse":{}}}}},"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"624ae470-59b4-413b-afa7-c80f75260fbe"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"token":"@body('Parse_JSON')?['token']"},"schema":{"type":"object","properties":{"token":{"title":"token","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Initialize_url_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e089950c-7509-44ed-8825-4c9b75903ff7"},"type":"Scope"},"Catch":{"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{},"metadata":{"operationMetadataId":"776eab46-cc22-4579-a256-ce5d8febec3a"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"token":"Unauthorized!"},"schema":{"type":"object","properties":{"token":{"title":"token","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Try":["Failed"]},"metadata":{"operationMetadataId":"db688a9e-425a-4d0b-8248-d4d7603f1d72"},"type":"Scope"},"Time_out":{"actions":{"Respond_to_a_PowerApp_or_flow_3":{"runAfter":{},"metadata":{"operationMetadataId":"9f0ff85b-d4bb-44e8-987b-8dadc7bd197f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"token":"Time out!"},"schema":{"type":"object","properties":{"token":{"title":"token","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Catch":["TimedOut"]},"metadata":{"operationMetadataId":"8588ad12-ac67-4ab4-a05e-41319ee594f3"},"type":"Scope"},"Initialize_url_variable":{"runAfter":{"Initialize_userPassword_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9d61db16-b2ef-4134-a02f-c82b10d474c2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"url","type":"string","value":"@{triggerBody()['Initializeurlvariable_Value']}"}]}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}