Microsoft.Flow/flows/e8dfef2e-93eb-496d-8086-082d3cd82e88/definition.json
{"name":"50b5f71e-cf25-4fbc-b7f8-00eaab67d2be","id":"/providers/Microsoft.Flow/flows/50b5f71e-cf25-4fbc-b7f8-00eaab67d2be","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getBotsIdList - AutomationAnywhereA360","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"c54b43c4-cfcc-49a9-98c4-f4178a9cc91c","type":"User","tenantId":"9e66e6ba-f2bb-4367-9862-0821b7ae9e12"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-09-30T21:06:05.0059554Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"2618b90a-e4e1-4481-8dff-2acc246790be"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializetokenvariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializefolderidvariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializetokenvariable_Value","Initializefolderidvariable_Value"]}}}},"actions":{"Initialize_folder_id_variable":{"runAfter":{"Initialize_token_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f80f99f9-22ad-4bce-82b8-44a03de01dc9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"folderID","type":"string","value":"@{triggerBody()['Initializefolderidvariable_Value']}"}]}},"Initialize_token_variable":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"364e53dc-8d97-4768-9c34-ee215297151e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"token","type":"string","value":"@triggerBody()['Initializetokenvariable_Value']"}]}},"Try":{"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"833c4261-c743-4a9d-9138-4e1761216325"},"type":"Http","inputs":{"method":"POST","uri":"https://community.cloud.automationanywhere.digital/v2/repository/folders/@{variables('folderID')}/list","headers":{"Content-Type":"application/json","X-Authorization":"@{variables('token')}"},"body":{}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"e459048b-8d65-4d39-9f0d-61d9157cb9fa"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"page":{"type":"object","properties":{"offset":{"type":"integer"},"total":{"type":"integer"},"totalFilter":{"type":"integer"}}},"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"parentId":{"type":"string"},"name":{"type":"string"},"path":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"size":{"type":"string"},"folder":{"type":"boolean"},"folderCount":{"type":"string"},"productionVersion":{"type":"string"},"latestVersion":{"type":"string"},"locked":{"type":"boolean"},"lockedBy":{"type":"string"},"createdBy":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModified":{"type":"string"},"permission":{"type":"object","properties":{"delete":{"type":"boolean"},"download":{"type":"boolean"},"upload":{"type":"boolean"},"run":{"type":"boolean"},"publishBotstore":{"type":"boolean"},"viewContent":{"type":"boolean"},"clone":{"type":"boolean"},"editContent":{"type":"boolean"},"createFolder":{"type":"boolean"},"move":{"type":"boolean"},"cancelCheckout":{"type":"boolean"},"revertCheckout":{"type":"boolean"},"viewHistory":{"type":"boolean"},"labelBots":{"type":"boolean"}}},"workspaceId":{"type":"string"},"botStatus":{"type":"string"},"hasErrors":{"type":"boolean"},"workspaceType":{"type":"string"},"metadata":{"type":"boolean"},"uri":{"type":"string"},"version":{"type":"string"},"hasTriggers":{"type":"boolean"},"isEdited":{"type":"boolean"},"versionNumber":{"type":"string"},"botVersionLabel":{"type":"string"},"originalVersion":{"type":"string"},"codeAnalysisResult":{"type":"string"}},"required":["id","parentId","name","path","description","type","size","folder","folderCount","productionVersion","latestVersion","locked","lockedBy","createdBy","lastModifiedBy","lastModified","permission","workspaceId","botStatus","hasErrors","workspaceType","metadata","uri","version","hasTriggers","isEdited","versionNumber","botVersionLabel","originalVersion","codeAnalysisResult"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['list']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"3859859d-44fc-4ecd-abc9-aa50ec62f7bc"},"type":"AppendToStringVariable","inputs":{"name":"botsIdList","value":",@{items('Apply_to_each')?['id']}"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a67d673b-204a-49b1-9960-13e11f3cb390"},"type":"Foreach"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"36144f87-9e63-44e5-a644-9113a8cb9632"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botsidlist":"@{substring(variables('botsIdList'),1)}"},"schema":{"type":"object","properties":{"botsidlist":{"title":"botsIdList","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Initialize_folder_id_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b87a7429-6197-4885-8f0d-9ceac4240cc2"},"type":"Scope"},"Catch":{"actions":{"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{},"metadata":{"operationMetadataId":"7b2fd2e7-9656-43b9-9874-7a15e5a6332f"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botsidlist":"Failed!"},"schema":{"type":"object","properties":{"botsidlist":{"title":"botsIdList","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Try":["Failed"]},"metadata":{"operationMetadataId":"cd1ac4bb-b365-4990-ad6c-c8a2db345855"},"type":"Scope"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"9e4f0124-465b-44a0-a642-281d130771dd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"botsIdList","type":"string"}]}},"Time_out":{"actions":{"Respond_to_a_PowerApp_or_flow_3":{"runAfter":{},"metadata":{"operationMetadataId":"51df23f2-b460-4d39-9410-e6ebeab4f8f9"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"botsidlist":"Time out!"},"schema":{"type":"object","properties":{"botsidlist":{"title":"botsIdList","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Catch":["TimedOut"]},"metadata":{"operationMetadataId":"9f003e01-10c1-4b48-a276-d4a7980b8f1a"},"type":"Scope"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}